<h1>Usuários</h1>

<a href="/usuarios/novo">Cadastrar usuários</a>
<table border="1">
	<tr>
		<td>ID</td>
		<td>Nickname</td>
		<td>Nome</td>
	</tr>

		{{#each usuarios}}
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.nickname}}</td>                                                                                                                                                 <td>{{this.nome}}</td>
				<td>
					<a href="/usuarios/{{this.id}}/atualizar">Atualizar</a>

					<form action="/usuarios/excluir">
						<input type="hidden" value="{{this.id}}" name="id" />
						<input type="submit" value="Excluir" />
					</form>
				</td>
			</tr>
		{{/each}}
</table> 